.Container {
  margin: auto;
}
.FontStyle {
  align-self: center;
  font-size: 15px;
}
.List {
  margin: auto;
  list-style: none;
  padding: 0;
}

.ListContiner {
  margin: auto;
}
.Item {
  margin-left: 10%;
  letter-spacing: 0.5px;
  margin-top: 2.5vh;
}
.AboutSubHeading {
  margin-top: 5vh;
}
