.Container {
  margin: auto;
}
.FontStyle {
  align-self: center;
  font-size: 15px;
}
.List {
  margin: auto;
  list-style: none;
  padding: 0;
}
.Item {
  letter-spacing: 0.5px;
  margin-top: 2.5vh;
}
