.hidden {
  margin: 0;
}

.show {
  position: absolute;

  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards;
}
@-webkit-keyframes slide-in {
  100% {
    left: 300px;
    border: 1px solid black;
  }
}
@keyframes slide-in {
  100% {
    left: 300px;
    border: 1px solid black;
  }
} ;
